* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #5d12d2;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.accordion_holder {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px;
}

.accordionItem {
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
}

.accordionItem__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
}

.desc {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s;
}

.show {
  margin-top: 15px;
  grid-template-rows: 1fr;
}

.hidden {
  overflow: hidden;
}
